/*RESETS DEFAULT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
*:focus{
    outline: 0;
}
html, body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    height: 100%;
}
a{
    text-decoration: none;
}

/*CONTENT MASTER*/
.content{
    background-color: #f2f2f2;
    width: 100%;
}

/*HEADER - SIDEBAR LEFT*/
.header{
    width: 17%;
    height: 100vh;
    background-color: #151931;
    position: fixed;
}
.img-perfil{
    background-image: url("assets/images/perfil.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.header-name{
    background-color: #EDBC11;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.header-menu{
    padding: 30px 0 30px 50px;
}
.header-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}
.header-menu ul li a{
    font-size: 18px;
    color: #C2C2C4;
    padding: 5px 0 5px 0;
    float: left;
    width: 100%;
}
.header-menu ul li a:hover{
    color: #EDBC11;
}
.header-link{
    margin-right: 5px;
}
.header-copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header-copy-box{
    color: #EDBC11;
    font-size: 13px;
    font-weight: 400;
    margin-top: 100px;
}


/*CONTEÚDO CENTRAL*/
.main{
    width: 83%;
    background-color: aqua;
    height: 1500px;
    float: right;
}

@media (min-width: 751px) and (max-width: 1158px){
    .img-perfil{
        height: 130px;
    }
    .header-name{
        padding: 10px 0;
        font-size: 14px;
    }
    .header-menu{
        padding: 30px 0 30px 30px;
    }   
    .header{
        width: 17%;
    } 
}

@media (max-width: 750px){
    .header{
        display: none;
    }
    .img-perfil{
        height: 130px;
    }
    .main{
        width: 100%;
    }
    .header-name{
        padding: 10px 0;
        font-size: 1px;
    }
    
}